/* You can add global styles to this file, and also import other style files */

$gutter: 1rem;

@import "@/assets/css/tailwind.css";
@import "@/assets/css/animate.min.css";
//
@import "@/assets/scss/responsive.scss";
@import "@/assets/scss/layout/layout.scss";
@import "@/assets/scss/utilities/utilities.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $scale;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
// #region Scroll Bars
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 1px solid #ccc;
}

// #endregion
