/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/styles/layout/layout.scss';

/* Demos */
@import '@/assets/demo/styles/flags/flags.css';
@import '@/assets/demo/styles/badges.scss';

// #region Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;
// #endregion

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $scale;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

// #region Scroll Bars
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 3px solid #fff;
}

// #endregion